* {
    background-image: none;
    font-size: 30px;
}

window {
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    color: #f8f8f2;
    background-color: rgba(68, 71, 90, 0.7);
    outline-style: none;
    border: none;
    border-width: 0px;		
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: rgba(189, 147, 249, 0.7);
    background-size: 20%;
}

button:hover {
    background-color: rgba(98, 114, 164, 0.7);
    background-size: 25%;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 15px 15px 0px 15px;
    margin: 10px 0px 0px 10px;
}

button:hover#logout {
    border-radius: 15px 0px 15px 15px;
    margin: 0px 0px 10px 10px;
}

button:hover#shutdown {
    border-radius: 15px 15px 15px 0px;
    margin: 10px 10px 0px 0px;
}

button:hover#reboot {
    border-radius: 0px 15px 15px 15px;
    margin: 0px 10px 10px 0px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
    border-radius: 40px 0px 0px 0px;
    margin : 20px 0px 0px 30px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px 40px;
    margin : 0px 0px 20px 30px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 40px 0px 0px;
    margin : 20px 30px 0px 0px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
    border-radius: 0px 0px 40px 0px;
    margin : 0px 30px 20px 0px;
}
