* {
    bg-col: #1E1D2F;          // Основной цвет фона
    bg-col-light: #1E1D2F;    // Светлый вариант фона (для кнопок)
    border-col: #1E1D2F;      // Цвет границ окна
    selected-col: #1E1D2F;    // Цвет выбранного элемента
    blue: #7aa2f7;            // Акцентный синий (для prompt)
    fg-col: #D9E0EE;          // Основной цвет текста
    fg-col2: #F28FAD;         // Цвет текста выбранного элемента
    grey: #D9E0EE;            // Цвет для неактивных элементов
}